@charset "UTF-8";

.albumArea {
	width:60%;
	padding-top:100px;
	min-height: 660px;	
	margin-left: 30%;
}

.albumWriteTitle {
	width: 100%;
	height: 40px;
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	align: center;
	text-align: center;
}

.albumWriteTitle label {
	font-weight: bold;
}

#writeDelete button {
	border-radius: 5px;
	border: 1px solid #f40;
	background: #f40;
	color: #fff;
	height: 30px;
}

.albumWriteForm {
	width: 100%;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}

.albumWriteTable {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #bbb;
	background: #fcc;
}

.albumWriteTable th, .albumWriteTable td {
	border: 1px solid #bbb;
	background: white;
}

#formBtn {
	width: 90%;
	margin: 0 auto;
	text-align: right;
}

.fileList {
	display: inline-block;
	wihth: 100%;
}

.albumImgArea {
	width: 100px;
	height: 70px;
	border: 1px solid #779;
	text-align: center;
	margin-top: 5px;
	margin-right: 3%;
}

#contentsWrite {
	border-radius: 5px;
	border: 1px solid #f40;
	background: #f40;
	color: #fff;
	height: 30px;
}

.dateSearchArea {
	text-align: right;
}

.smallAlbum {
	background: #fff;
	width: 28%;
	display: inline-block;
	margin-top: 1%;
	margin-right: 2%;
	margin-bottom: 3%;
	margin-left: 2%;
}

#albumTitle {
	font-weight: bold;
}

#thumbnailImg {
	border: 2px solid #ddd;
	margin: 0 auto;
	margin-top: 5px;
	width: 90%;
	height: 120px;
}

.albumDetailArea {
	margin: 0 auto;
	width: 65%;
}

#tagSearchBtn {
	border-radius: 5px;
	border: 1px solid #f40;
	background: #f40;
	color: #fff;
	height: 30px;
}

.albumDetailTitle {
	width: 100%;
	height: 40px;
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	align: center;
	text-align: center;
}

.albumDetailTitle table {
	font-weight: bold;
}

.albumContentsArea {
	width: 100%;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 10px;
}

.downloadArea {
	width: 90%;
	margin: 0 auto;
}

.downloadArea button {
	border-radius: 5px;
	border: 1px solid #f40;
	background: #f40;
	color: #fff;
	height: 30px;
}

.replyArea {
	width: 100%;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}

#uploadReply {
	border-radius: 5px;
	border: 1px solid #f40;
	background: #f40;
	color: #fff;
	height: 30px;
}