@charset "UTF-8";

.drugRequestArea {
	width: 60%;
	padding-top: 100px;
	min-height: 660px;
	margin-left: 30%;
}

.drugRequestList {
	margin: 0 auto;
}

.drugRequestSummary {
	width: 30%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 2%;
	display: inline-block;
	background: #fff;
	height: 200px;
}

.drugRequestSummary table {
	width: 90%;
	margin: 0 auto;
	font-size: 0.8em;
}

.drugRequestSummary:nth-child(3n-2) {
	margin-left: 2%;
}

.drugRequestSummary table tr:first-child {
	text-align: right;
}

.drugRequestSummary table tr:nth-child(2) {
	font-weight: bold;
	font-size: 1.3em;
}

.drugRequestSummary table tr:nth-child(3) {
	height: 30px;
}

.drugRequestSummary table tr:nth-child(4) {
	height: 30px;
}

.drugRequestSummary table tr:nth-child(5) {
	height: 30px;
}

.drugRequestSummary table tr:last-child {
	height: 40px;
	vertical-align: bottom;
}

.printBtnArea {
	width: 100%;
	text-align: right;
}

.printBtnArea button {
	border-radius: 5px;
	background: #555;
	color: #fff;
	height: 40px;
	width: 120px;
}

.drugContentsArea {
	background: #fff;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.kinderInfo {
	margin-left: 10px;
	margin-right: 10px;
}

.kinderInfo img {
	width: 40px;
	border-radius: 20px;
}

.drugContents {
	margin-left: 10px;
	margin-right: 10px;
}

.contentsTable {
	width: 100%;
	background: #fbb;
}

.drugContents th {
	width: 20%;
	text-align: left;
}

.drugContents th, .drugContents td {
	background: #fff;
	height: 40px;
}

.drugContents tr:last-child th {
	vertical-align: top;
	padding-top: 10px;
}

.sickName {
	font-weight: bold;
	font-size: 1.2em;
}

.warningMsg {
	text-align: right;
	margin: 0 auto;
	padding-left: 35%;
}

.warningMsg td {
	text-align: right;
}

.drugResponseWriteBtn {
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
	background: #5bf;
	color: white;
	border: none;
	border-radius: 5px;
}

.etcBtnArea {
	text-align: right;
	margin-top: 10px;
}

.etcBtnArea button {
	background: #555;
	color: #fff;
	width: 70px;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-bottom: 30px;
}

.drugResponseContents {
	background: #9df;
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.drugResponseContents button {
	height: 30px;
	font-weight: bold;
	margin-top: 10px;
	background: #3af;
	color: white;
	border: none;
	border-radius: 5px;
}

.mainDrugContents {
	width: 90%;
	margin: 0 auto;
	background: #fdd;
}

.subDrugContents {
	width: 90%;
	margin: 0 auto;
	background: #fdd;
}

.drugContentsArea td, .drugContentsArea th {
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.drugContentsArea input[type="text"] {
	width: 80%;
	border: none;
}

#drugCount {
	width: 100px;
}

.selectDateDiv {
	width: 40%;
	display: inline-block;
	align: center;
}

.selectDateDiv:first-child {
	background: #5af;
	color: #fff;
}

.selectDateDiv:nth-child(2) {
	background: #888;
	color: #fff;
}

.temperatureDiv {
	width: 40%;
	display: inline-block;
	align: center;
	margin: 0 auto;
}

.temperatureDiv:first-child {
	background: #5af;
	color: #fff;
}

.temperatureDiv:nth-child(2) {
	background: #888;
	color: #fff;
}

.btnArea {
	width: 95%;
	text-align: right;
}

.btnArea input {
	width: 70px;
	height: 30px;
	border-radius: 5px;
	color: #fff;
}

.btnArea input:first-child {
	background: #888;
	border: 1px solid #555;
}

.btnArea input:last-child {
	background: #5af;
	border: 1px solid #3af;
}