@charset "UTF-8";
body {
	background: #eee;
	margin:0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.sideMenu {
	display:inline-block;
	position:absolute;
	top:100px;
	background: #fff;
	width: 130px;
	align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #f77;
	margin-left:15px;
	margin-bottom: 0px;
}
.chatMenuT{
	display:inline-block;
	position:absolute;
	top:700px;
	background: #fff;
	width: 130px;
	align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #f77;
	margin-left:15px;
	margin-bottom: 0px;
}
.chatMenuP{
	display:inline-block;
	position:absolute;
	top:665px;
	background: #fff;
	width: 130px;
	align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #f77;
	margin-left:15px;
	margin-bottom: 0px;
}
.loginUserInfo {
	margin: 0 auto;
}

.loginUserInfoTable {
	margin: 0 auto;
	text-align: center;
}

#userImg {
	border-radius: 100%;
	background: #ccc;
	width: 70px;
	height: 70px;
}

#loginUserName {
	font-weight: bold;
}

#kindergardenName {
	font-weight: bold;
}

.sideMenuList {
	text-align: center;
	margin: 0 auto;
	align: center;
}

.sideMenuBtn {
	width: 80%;
	margin: 0 auto;
	align: center;
	margin-top: 15px;
	background: #fff;
	border-radius: 7px;
	border: 1px solid #f77;
	color: #f77;
	transition-property: background-color, color;
	transition-duration: 0.3s, 0.3s;
}

.sideMenuBtn:hover {
	width: 80%;
	margin: 0 auto;
	align: center;
	margin-top: 15px;
	background: #f77;
	border-radius: 7px;
	border: 1px solid #f77;
	color: #fff;
}

.managementSideMenu {
/* 	position: fixed;
	top: 150px;
	left: 20px; */
	background: #fff;
	width: 150px;
	align: center;
	padding: 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #f77;
}

.managementSideTable {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.managementSideTable tr th {
	background: #fdd;
	border-bottom: 2px solid #f77;
}

.footerArea {
	width:100%;
	height:100px;
	background:#fff;
	border-top:2px solid #ddd;
	align:center;
	text-align:center;
	margin-bottom: 0px;
	position : relative;
	bottom : 0;
}
.footerTable{
	padding-left: 20%;
}

.footerTable th{
	text-align: left;	
	color:blue;
	font-size: 0.6em;
	width:300px;
}

.footerTable label{
	font-size: 0.4em;
}


