<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Attendance">
<!-- 	<resultMap type="Children" id="childResultSet">
		<id property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap> -->
	<!-- <resultMap type="Children" id="childResultSet">
		<id property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
		<result property="time" column="TIME"/>
		<result property="mTime" column="M_TIME"/>
		<result property="status" column="STATUS"/>
	</resultMap> -->
	<resultMap type="Children" id="childResultSet">
		<id property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>

	<!-- 데일리출석부 -->
	<select id="dailyatt" parameterType="Children" resultMap="childResultSet">
	  SELECT C.CHILDREN_NAME,C.CHILDREN_NO,C.BIRTH,C.GENDER,C.USER_NO
      FROM CHILDREN C
      JOIN USERS U ON U.USER_NO = C.USER_NO
      WHERE C.CHILDREN_NO IN (SELECT C.CHILDREN_NO
      FROM KINDER_CLASS C
      WHERE (KINDER_NO,CLASS_NAME,OPENED_DATE) IN
      ( SELECT K.KINDER_NO,K.CLASS_NAME,K.OPENED_DATE
      FROM KINDER_CLASS K
      JOIN USERS U ON K.TEACHER_NO = U.USER_NO
      WHERE K.TEACHER_NO = #{teacherNo}
      AND SUBSTR(OPENED_DATE,1,2) = SUBSTR(SYSDATE,1,2))
      AND C.DIVISION = '원생')
	</select>

	<select id="dailyChildren" resultType="_int">
	select count(*)
      from(
      SELECT C.CHILDREN_NAME,C.CHILDREN_NO,C.BIRTH,C.GENDER,C.USER_NO
      FROM CHILDREN C
      JOIN USERS U ON U.USER_NO = C.USER_NO
      WHERE C.CHILDREN_NO IN (SELECT C.CHILDREN_NO
      FROM KINDER_CLASS C
      WHERE (KINDER_NO,CLASS_NAME,OPENED_DATE) IN
      ( SELECT K.KINDER_NO,K.CLASS_NAME,K.OPENED_DATE
      FROM KINDER_CLASS K
      JOIN USERS U ON K.TEACHER_NO = U.USER_NO
      WHERE K.TEACHER_NO = #{teacherNo}
      AND SUBSTR(OPENED_DATE,1,2) = SUBSTR(SYSDATE,1,2))
      AND C.DIVISION = '원생')
      )
	</select>
	
	<insert id="insertDailyAtt">
	INSERT INTO ATTENDANCE
	VALUES(SEQ_ATTENDANCE_NO.NEXTVAL,#{childrenNo},#{attendanceYN},#{time}
	,#{mTime},#{status},TO_DATE(#{date},'YY/MM/DD'))
	</insert>
	
	<select id="countDailyAtt" resultType="_int">
	SELECT COUNT(*)
	FROM ATTENDANCE
	WHERE ATT_DATE = TO_DATE(#{date},'YY/MM/DD')
	AND CHILDREN_NO = #{childrenNo}
	</select>
	
	<update id="updateDailyAtt">
	UPDATE ATTENDANCE
    SET ATTENDANCE_YN  = #{attendanceYN}
        ,TIME = #{time}
        ,M_TIME = #{mTime}
        ,STATUS = #{status}
        WHERE ATT_DATE = TO_DATE(#{date},'YY/MM/DD')
        AND CHILDREN_NO = #{childrenNo}
	</update>
	
</mapper>


















