<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Bus">
  
  <resultMap type="Bus" id="Bus">
  	<id property="busNo" column="BUS_NO"/>
  	<result property="childrenNo" column="CHILDREN_NO"/>
  	<result property="busYN" column="BUS_YN"/>
  	<result property="geton" column="GET_ON"/>
  	<result property="busDate" column="BUS_DATE"/>
  	<result property="classNum" column="CLASS_NO"/>
  	<result property="kinderNum" column="KINDER_NO"/>
  	<result property="childrenName" column="CHILDREN_NAME"/>
  
  </resultMap>
  
  
  	<insert id="insertBus">
		INSERT INTO BUS
		VALUES(SEQ_BUS_NO.NEXTVAL,#{childrenNo},#{busYN},#{geton},NULL,SYSDATE,1,8)		
	</insert>
  
  	<select id="selectCount" resultType="_int">
		SELECT COUNT(BUS_DATE)
		FROM BUS
		WHERE BUS_DATE LIKE SYSDATE
	</select>
  	
  	<select id="selectListN" resultMap="Bus">
		 SELECT  B.BUS_NO,B.CHILDREN_NO,B.BUS_YN,B.GET_ON,B.BUS_DATE,B.KINDER_NO,B.CLASS_NO,C.CHILDREN_NAME
		FROM BUS B
        JOIN KINDER_CLASS K ON K.CHILDREN_NO = B.CHILDREN_NO
        JOIN CHILDREN C ON C.CHILDREN_NO = B.CHILDREN_NO
		WHERE BUS_DATE LIKE #{className}
	</select>
	
	<select id="selectCListN" resultMap="Bus">
    	SELECT B.BUS_NO,B.CHILDREN_NO,B.BUS_YN,B.GET_ON,B.BUS_DATE,B.KINDER_NO,B.CLASS_NO,C.CHILDREN_NAME
		FROM BUS B
        JOIN KINDER_CLASS K ON K.CHILDREN_NO = B.CHILDREN_NO
        JOIN CHILDREN C ON C.CHILDREN_NO = B.CHILDREN_NO
		WHERE B.BUS_DATE LIKE  = #{className}
    	AND B.CHILDREN_NO = #{classNum}
    	AND B.KINDER_NO = 1
	</select>
  
  
  
  </mapper>