<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Bus">
  
  <resultMap type="Bus" id="Bus">
  	<id property="busNo" column="BUS_NO"/>
  	<result property="childrenNo" column="CHILDREN_NO"/>
  	<result property="busYN" column="BUS_YN"/>
  	<result property="geton" column="GET_ON"/>
  	<result property="busDate" column="BUS_DATE"/>
  	<result property="classNum" column="CLASS_NO"/>
  	<result property="kinderNum" column="KINDER_NO"/>
  
  </resultMap>
  
  
  	<insert id="insertBus">
		INSERT INTO BUS
		VALUES(SEQ_BUS_NO.NEXTVAL,#{childrenNo},#{busYN},#{geton},NULL,SYSDATE,1,8)		
	</insert>
  
  	<select id="selectCount" resultType="_int">
		SELECT COUNT(BUS_DATE)
		FROM BUS
		WHERE BUS_DATE LIKE SYSDATE
	</select>
  	
  	<select id="selectListN" resultMap="Bus">
		SELECT BUS_NO,CHILDREN_NO,BUS_YN,GET_ON,BUS_DATE,KINDER_NO,CLASS_NO
		FROM BUS
		WHERE BUS_DATE LIKE #{className}
    	AND CLASS_NO = #{classNum}
	</select>
	
	<select id="selectCListN" resultMap="Bus">
		SELECT BUS_NO,CHILDREN_NO,BUS_YN,GET_ON,BUS_DATE,KINDER_NO,CLASS_NO
		FROM BUS
		WHERE BUS_DATE LIKE #{className}
    	AND CHILDREN_NO = #{classNum}
    	AND KINDER_NO = 1
	</select>
  
  
  
  </mapper>