<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Journal">

	<resultMap type="Journal" id="Journal">
		<id property="journalNo" column="JOURNAL_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="journalDate" column="JOURNAL_DATE"/>
		<result property="topic" column="TOPIC"/>
		<result property="topicMin" column="TOPIC_MIN"/>
		<result property="time" column="TIME"/>
		<result property="activity" column="ACTIVITY"/>
		<result property="totalComment" column="TOTAL_COMMENT"/>
		<result property="remarks" column="REMARKS"/>
		<result property="status" column="STATUS"/>
		<result property="kinderNo" column="KINDER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="kinderName" column="KINDER_NAME"/>
	</resultMap>

	<!-- 일지 작성하기 -->
	<insert id="insertJournal" parameterType="Journal">
		INSERT INTO JOURNAL VALUES(SEQ_JOURNAL_NO.NEXTVAL, #{userNo}, SYSDATE, #{topic}, #{topicMin}, #{time}, #{activity}, #{totalComment}, #{remarks}, DEFAULT)
	</insert>

	<!-- 리스트카운트 가져오기(원장) -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM JOURNAL J
		JOIN KINDER_CLASS K ON(J.USER_NO = K.TEACHER_NO)
		WHERE K.KINDER_NO = #{userNo}
		AND J.STATUS = 'N'
	</select>
	<!-- 리스트카운트 가져오기(선생님) -->
	<select id="selectTListCount" resultType="_int">
		SELECT COUNT(*)
		FROM JOURNAL J
		JOIN KINDER_CLASS K ON(J.USER_NO = K.TEACHER_NO)
		WHERE K.KINDER_NO = #{kinderNo}
		AND J.USER_NO = #{loginUserNo}
		AND J.STATUS = 'N'
	</select>

	<!-- 일지 리스트 조회 -->
	<select id="selectJournalList" parameterType="_int" resultMap="Journal">
		SELECT *
		FROM JOURNAL J
		JOIN KINDER_CLASS K ON(J.USER_NO = K.TEACHER_NO)
		JOIN USERS U ON(U.USER_NO = K.TEACHER_NO)
		WHERE K.KINDER_NO = #{userNo}
		AND J.STATUS = 'N'
		ORDER BY J.JOURNAL_NO DESC
	</select>
	<!-- 일지 리스트 조회(선생님) -->
	<select id="selectTJournalList" parameterType="_int" resultMap="Journal">
		SELECT *
		FROM JOURNAL J
		JOIN KINDER_CLASS K ON(J.USER_NO = K.TEACHER_NO)
		JOIN USERS U ON(U.USER_NO = K.TEACHER_NO)
		WHERE K.KINDER_NO = #{kinderNo}
		AND J.USER_NO = #{loginUserNo}
		AND J.STATUS = 'N'
		ORDER BY J.JOURNAL_NO DESC
	</select>


	<!-- 일지 상세조회 -->
	<select id="selectJournalOne" parameterType="_int" resultMap="Journal">
		SELECT *
		FROM JOURNAL J
		JOIN KINDER_CLASS K ON(J.USER_NO = K.TEACHER_NO)
		JOIN USERS U ON(U.USER_NO = K.TEACHER_NO)
		WHERE J.JOURNAL_NO = #{journalNo}
	</select>

	<!-- 일지 삭제하기 -->
	<update id="updateStatus">
		UPDATE JOURNAL
		SET STATUS = 'Y'
		WHERE JOURNAL_NO = #{journalNo}
	</update>

</mapper>