<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="KinderLand">
  
  	<resultMap type="Kinderland" id="kinderreslutSet">
  		<result property="kinderNo" column="KINDER_NO"/>
  		<result property="kinderName" column="KINDER_NAME"/>
  		<result property="kinderPhone" column="KINDER_PHONE"/>
  		<result property="kinderAddress" column="KINDER_ADDRESS"/>	
  	
  	</resultMap>
  	
  	<resultMap type="KinGardenClassesvo" id="kinderclassseultSet">
  		<id property="classNo" column="CLASS_NO"/>
  		<result property="division" column="DIVISION"/>
  		<result property="kinderNo" column="KINDER_NO"/>
  		<result property="className" column="CLASS_NAME"/>
  	</resultMap>
  	
  	<resultMap type="Kinderclass" id="KinderclassResultSet">
  	
  		<id property="kinderNo" column="KINDER_NO"/>
  		<result property="className" column="CLASS_NAME"/>
  		<result property="classMax" column="CLASS_MAX"/>
  		<result property="openedDate" column="OPENED_DATE"/>
  		<result property="closeDate" column="CLOSE_DATE"/>
  		<result property="count" column="COUNTT"/>
  	
  	</resultMap>
  	
  	<resultMap type="Kinderclasses" id="KinderclassesResultSet">
  		
  		<id property="classNo" column="CLASS_NO"/>
  		<result property="kinderNo" column="KINDER_NO"/>
  		<result property="className" column="CLASS_NAME"/>
  		<result property="openedDate" column="OPENED_DATE"/>
  		<result property="semester" column="SEMESTER"/>
  		<result property="division" column="DIVISION"/>
  		<result property="teacherNo" column="TEACHER_NO"/>
  		<result property="childrenNo" column="CHILDREN_NO"/>
  		<result property="userName" column="USER_NAME"/>
  		<result property="childrenName" column="CHILDREN_NAME"/>
  	
  	</resultMap>
  	
  	<resultMap type="KinderUserName" id="KinderUserNameResultSet">
  	
  		<result property="userName" column="USER_NAME"/>
  		<result property="childrenName" column="CHILDREN_NAME"/>
  	
  	
  	</resultMap>
  	
 
  	<select id="selectckinder" resultMap="kinderreslutSet">
  	
  	SELECT *
  	FROM KINDERGARDEN
  	WHERE KINDER_ADDRESS LIKE '%' || #{ kinderAddress } || '%'
  		

  	</select>
  	
  	<select id="selectKinderclass" resultMap="kinderclassseultSet">
  	
  		SELECT *
  		FROM KINDER_CLASS
  		WHERE KINDER_NO = #{kinderNo}
  	
  	
  	</select>
  	
  	<insert id="insertChildren">
  		INSERT INTO CHILDREN_KIND VALUES( #{childrenNo}, #{kinderNo} , '미승인' )	
  	
  	</insert>
  	
  	<insert id="insertchildrenclass">
  	
  	INSERT INTO KINDER_CLASS VALUES( SEQ_CLASS_NO.NEXTVAL , #{kinderNo} ,  #{className} , SYSDATE , '1학기' ,'원생' , NULL , #{childrenNo} )
  	
  	</insert>
  	
  	<update id="updatechildrenclass">
  	
  	UPDATE CHILDREN_KIND SET STATUS = '승인'
  	WHERE CHILDREN_NO = #{childrenNo}
  	
  	</update>
  	
  	<insert id="insertTeacher">
  	
  		INSERT INTO TEACHER
  		VALUES (#{kinderNo} , #{teacherNo} , '미승인')
  	
  	</insert>
  	
  	<insert id="insertTeacgerClass">
  		
  		INSERT INTO KINDER_CLASS VALUES( SEQ_CLASS_NO.NEXTVAL , #{kinderNo} ,  #{className} , SYSDATE , '1학기' ,'선생님' , #{teacherNo} , NULL )
  	
  	</insert>
  	
  	<update id="updateteacherclass">
  		
  		UPDATE TEACHER SET STATUS = '승인'
  		WHERE TEACHER_NO = #{teacherNo}
  	
  	</update>
  	
  	<update id="menuupdate">
  		
  		UPDATE ON_OFF SET ANNOUNCEMENT = #{announcement} , MEAL = #{meal} , DOSAGE = #{dosage} , HOMECOMING = #{homecoming} , BOARD_NOTICE = #{boardNotice} , ALBUM = #{album} , SCHEDULE = #{schedule} , ATTENDANCE = #{attendance}, IN_OUT = #{inOut}
		WHERE KINDER_NO = #{kinderNo}
  	
  	</update>
  	
  	<update id="kinderUpdate">
  		
  		UPDATE KINDERGARDEN SET KINDER_NAME = #{kinderName} , KINDER_PHONE = #{phone} , KINDER_ADDRESS = #{address}
  		WHERE KINDER_NO = #{kinderNo}
  	
  	</update>
  	
  	<select id="kinderbanplus" resultMap="KinderclassResultSet">
  		
   		SELECT *
  		FROM KINDER_CLASSES
  		WHERE KINDER_NO = #{kinderNo} 
  		

  	</select>
  	
  	<select id="kinderclassMax" resultMap="KinderclassResultSet">
  		
  		SELECT CLASS_NAME , CLASS_MAX ,COUNTT ,KINDER_NO
		FROM KINDER_CLASSES ,
			(SELECT COUNT(*) COUNTT
  			 FROM KINDER_CLASS
  			 WHERE KINDER_NO = #{kinderNo}
  			 AND CLASS_NAME = #{className})
		WHERE KINDER_NO = #{kinderNo}
		AND CLASS_NAME = #{className}
  	
  	</select>
  	
  	<insert id="KinderClassAdd">
  		
  		INSERT INTO KINDER_CLASSES
  		VALUES (#{kinderNo}, #{className4} , #{className5} , SYSDATE , NULL)
  	
  	</insert>
  	
  	<delete id="KinderClassDelete">
  	
  		DELETE FROM KINDER_CLASSES
  		WHERE KINDER_NO = #{kinderNo}
  		AND CLASS_NAME = #{className}
  		
  	</delete>
  	
  	<select id="KinderclassChange" resultMap="KinderclassesResultSet">
  	
  		SELECT *
  		FROM KINDER_CLASS
  		WHERE KINDER_NO = #{kinderNo}
  		AND CLASS_NAME = #{className}
  	
  	</select>
  	
  	<select id="KinderclassNames" resultMap="KinderclassResultSet">
  		
  		SELECT *
		FROM USERS U
		JOIN KINDER_CLASSES K ON(U.USER_NO = K.KINDER_NO)	
		WHERE K.KINDER_NO = #{kinderNo}
  	
  	</select>
  	
  	<select id="KinderuserName" resultMap="KinderclassesResultSet">
  		
  		<if test="teacherNo == 0">
  		SELECT *
  		FROM KINDER_CLASS K
        JOIN CHILDREN C ON(K.CHILDREN_NO = C.CHILDREN_NO)
  		WHERE KINDER_NO = #{kinderNo}
  		AND CLASS_NAME = #{className}
  		AND C.CHILDREN_NO = #{childrenNo}
  		</if>
  		<if test="childrenNo == 0">
  		
  		SELECT *
  		FROM KINDER_CLASS K
        JOIN USERS U ON(K.TEACHER_NO = U.USER_NO)
  		WHERE KINDER_NO = #{kinderNo}
  		AND CLASS_NAME = #{className}
  		AND K.TEACHER_NO = #{teacherNo}
  		
  		
  		</if>
  	
  	
  	</select>
  	
  	<update id="kinderchangeClass">
  		
  		UPDATE KINDER_CLASS SET CLASS_NAME = #{className}
  		WHERE CLASS_NO = #{classNo}
  	
  	
  	</update>
	

  </mapper>