<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="KinderLand">
  
  	<resultMap type="Kinderland" id="kinderreslutSet">
  		<result property="kinderNo" column="KINDER_NO"/>
  		<result property="kinderName" column="KINDER_NAME"/>
  		<result property="kinderPhone" column="KINDER_PHONE"/>
  		<result property="kinderAddress" column="KINDER_ADDRESS"/>	
  	
  	</resultMap>
  	
  	<resultMap type="KinGardenClassesvo" id="kinderclassseultSet">
  		<id property="classNo" column="CLASS_NO"/>
  		<result property="division" column="DIVISION"/>
  		<result property="kinderNo" column="KINDER_NO"/>
  		<result property="className" column="CLASS_NAME"/>
  	</resultMap>
 
  	<select id="selectckinder" resultMap="kinderreslutSet">
  	
  	SELECT *
  	FROM KINDERGARDEN
  	WHERE KINDER_ADDRESS LIKE '%' || #{ kinderAddress } || '%'
  		

  	</select>
  	
  	<select id="selectKinderclass" resultMap="kinderclassseultSet">
  	
  		SELECT *
  		FROM KINDER_CLASS
  		WHERE KINDER_NO = #{kinderNo}
  	
  	
  	</select>
	

  </mapper>