<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Meal">
	<!-- <resultMap type="Attendance" id="attendanceResultSet">
		<id property="attendanceNo" column="ATTENDANCE_NO"/> 
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="attendancceYN" column="ATTENDANCE_YN"/>
		<result property="time" column="TIME"/>
		<result property="mTime" column="M_TIME"/>
		<result property="status" column="STATUS"/>
	</resultMap> -->
	
	<resultMap type="Meal" id="dailyResultSet">
		<id property="mealNo" column="MEAL_NO"/>
		<result property="mealDate" column="MEAL_DATE"/>
		<result property="mealContent" column="MEAL_CONTENT"/>
		<result property="mealType" column="MEAL_TYPE"/>
		<result property="kinderNo" column="KINDER_NO"/>
	</resultMap>
	
	<!-- 식단표 갯수 조회 -->
	<select id="dailymealCount" resultType="_int">
	SELECT COUNT(MEAL_DATE)
	FROM MEAL_TABLE
	WHERE MEAL_DATE LIKE SYSDATE
	</select>

	<insert id="insertDailyMeal">
		INSERT INTO MEAL_TABLE
		VALUES(SEQ_MEAL_NO.NEXTVAL,
		SYSDATE,#{mealContent},#{mealType},#{kinderNo})
	</insert>
	
	<select id="selectNum" resultType="_int">
		SELECT SEQ_MEAL_NO.CURRVAL
     	FROM DUAL
	</select>
	
	<insert id="insertAt">
		INSERT INTO ATTACHMENT VALUES(SEQ_FILE_ID.NEXTVAL , #{origineName} , 
		#{changeName} , #{filePath} , SYSDATE , #{attachType} , #{fileLevel} ,
		null,null,null,#{mealNo},null,null,null,null)	
	</insert>
	
</mapper>


















