<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">

	<resultMap type="Member" id="memberResultSet">
	
		<id property="userNo" column="USER_NO"/> 
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
	    <result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DELETE_DATE"/>
		<result property="deleteReason" column="DELETE_REASON"/>
		<result property="status" column="STATUS"/>
		<result property="classification" column="CLASSIFICATION"/>
		<result property="usingStatus" column="USING_DATE"/>
	</resultMap>
	
	<resultMap type="KinclassSelect" id="kinResultSet">
	
		<result property="kinderNo" column="KINDER_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="classMax" column="CLASS_MAX"/>
		<result property="openedDate" column="OPENED_DATE"/>
		<result property="closeDate" column="CLOSE_DATE"/>
	
	</resultMap>
	
	<resultMap type="KinderYN" id="KinderYNResultSet">
		
		<result property="userName" column="USER_NAME"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="classification" column="CLASSIFICATION"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="teacherNo" column="TEACHER_NO"/>

	</resultMap>
	
	<resultMap type="KinGardenClasses" id="KinGardenClassesResultSet">
		
		<id property="classNo" column="CLASS_NO"/>
		<result property="divistion" column="DIVISTION"/>
		<result property="kinderNo" column="KINDER_NO"/>
		<result property="teacherNo" column="TEACHER_NO"/>
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="openedDate" column="OPENED_DATE"/>
		<result property="semester" column="SEMESTER"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
	
	
	</resultMap>
	
	<resultMap type="KidMember" id="KidMemberResultSet">
	
		<id property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
	
	</resultMap>
	
	<resultMap type="Attachment" id="AttachmentResultSet">
	
		<id property="fileId" column="FILE_ID"/>
		<result property="origineName" column="ORIGINE_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="attachType" column="ATTACH_TYPE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="albumNo" column="ALBUM_NO"/>
		<result property="ntboardNo" column="NTBOARD_NO"/>
		<result property="mealNo" column="MEAL_NO"/>
		<result property="dosageNo" column="DOSAGE_NO"/>
		<result property="homeNo" column="HOME_NO"/>
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="userNo" column="USER_NO"/>
		

	</resultMap>
	
	<resultMap type="OnOff" id="OnOffResultSet">
	
		<id property="kinderNo" column="KINDER_NO"/>
		<result property="announcement" column="ANNOUNCEMENT"/>
		<result property="meal" column="MEAL"/>
		<result property="dosage" column="DOSAGE"/>
		<result property="homecoming" column="HOMECOMING"/>
		<result property="boardNotice" column="BOARD_NOTICE"/>
		<result property="album" column="ALBUM"/>
		<result property="schedule" column="SCHEDULE"/>
		<result property="attendance" column="ATTENDANCE"/>
		<result property="chatting" column="CHATTING"/>
		<result property="mypage" column="MYPAGE"/>
		<result property="inOut" column="IN_OUT"/>
	
	</resultMap>
	
	<resultMap type="KinderGarden" id="KinderGardenResultSet">
	
		<id property="kinderNo" column="KINDER_NO"/>
		<result property="kinderName" column="KINDER_NAME"/>
		<result property="phone" column="KINDER_PHONE"/>
		<result property="address" column="KINDER_ADDRESS"/>
		
	</resultMap>
	
	<!-- 회원 가입용 쿼리문 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO USERS
		VALUES(SEQ_USER_NO.NEXTVAL , #{userId}, #{userPwd}, #{userName}, #{email}, #{phone}, sysdate, null, #{classification}, null, 'Y')
	</insert>
	
	<!-- 암호화된 비밀번호 조회용 쿼리문 -->
	<select id="selectPassword" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT USER_PWD
		FROM USERS
		WHERE USER_ID = #{userId}
		AND STATUS = 'Y'
	</select>
	
	<!-- 암호화된 비밀번호와 평문 비밀번호가 일치할 때 로그인 정보 조회용 쿼리 -->
	<select id="selectLoginUser" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM USERS
		WHERE USER_ID = #{userId}
		AND STATUS = 'Y'
	</select>	
	
	<select id="idcheck" parameterType="Member" resultMap="memberResultSet">
	
		SELECT USER_ID
		FROM USERS
		WHERE USER_ID = #{userId}
	
	</select>
	
	<insert id="insertKid" parameterType="KidMember" >
		
		INSERT INTO CHILDREN 
		VALUES(SEQ_CHILDREN_NO.NEXTVAL,  #{childrenName}, #{birth}, #{gender}, #{userNo})
	
	</insert>
	
	<select id="selectNumber" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM USERS
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="kininsert" parameterType="KinderGarden">
		
		INSERT INTO KINDERGARDEN
		VALUES( #{kinderNo} , #{kinderName} ,#{phone}, #{address})
	</insert>
	
	
	<insert id="kinclassinsert">
	
		INSERT INTO KINDER_CLASSES
		VALUES(#{ kinderNo } , #{NameCount} , 30 , sysdate , null)
	
	
	</insert>
	
	<select id="kinclassselect" resultMap="kinResultSet">
		
		SELECT *
		FROM KINDER_CLASSES
		WHERE KINDER_NO = #{kinderNo}
	
	
	</select>
	
<!-- 	<insert id="classinsert">
		
		INSERT INTO KINDER_CLASS
		VALUES(SEQ_CLASS_NO.NEXTVAL , #{kinderNo} ,#{className}, SYSDATE , '1학기', NULL ,NULL,NULL )
	
	</insert> -->
	
	<select id="selectkkid" parameterType="_int" resultType="_int">
		SELECT CHILDREN_NO
		FROM CHILDREN
		WHERE USER_NO = #{select}
	
	</select>
	
	<select id="childrenCount" resultType="_int">
		SELECT COUNT(*)
		FROM CHILDREN_KIND
		WHERE KINDER_NO = #{userNo}
		AND STATUS = '미승인'
	</select>
	<select id="childrenCountN" resultType="_int">
		SELECT COUNT(*)
		FROM CHILDREN_KIND
		WHERE KINDER_NO = #{userNo}
		AND STATUS = '승인'
	</select>
	
	<select id="teacherCount" resultType="_int">
		SELECT COUNT(*)
		FROM TEACHER
		WHERE KINDER_NO = #{userNo}
		AND STATUS = '미승인'
	</select>
	
	<select id="teacherCountN" resultType="_int">
		SELECT COUNT(*)
		FROM TEACHER
		WHERE KINDER_NO = #{userNo}
		AND STATUS = '승인'
	</select>
	
	
	
	<select id="teacherMe" resultMap="KinderYNResultSet">
	
		SELECT U.USER_NAME,K.CLASS_NAME,U.PHONE,U.CLASSIFICATION
		FROM USERS U
		JOIN KINDER_CLASS K ON(U.USER_NO = K.TEACHER_NO)
		WHERE KINDER_NO = #{userNo}
		
	</select>
	
	
	<select id="teacherMe2" resultMap="KinderYNResultSet">
		
		SELECT U.USER_NAME, C.TEACHER_NO
        FROM USERS U
        JOIN TEACHER C ON(U.USER_NO = C.TEACHER_NO)
        WHERE C.STATUS LIKE '미승인'
        AND C.KINDER_NO = #{userNo}
		
		
	
	</select>
	
	<select id="teacherMeCount" resultType="_int">
	
		SELECT COUNT(*)
		FROM USERS U
        JOIN TEACHER C ON(U.USER_NO = C.TEACHER_NO)
        WHERE C.STATUS LIKE '미승인'
        AND C.KINDER_NO = #{userNo}
		
	</select>
	
	<select id="teacherMeCount2" resultType="_int">
	
		SELECT COUNT(*)
		FROM USERS U
		JOIN KINDER_CLASS K ON(U.USER_NO = K.TEACHER_NO)
		WHERE KINDER_NO = #{userNo}
		
	
	</select>
	
	<select id="childrenMe" resultMap="KinderYNResultSet">
	
		 SELECT U.CLASSIFICATION , K.CLASS_NAME , C.CHILDREN_NAME , U.PHONE
		FROM USERS U
		JOIN CHILDREN C ON(U.USER_NO = C.USER_NO)
        JOIN KINDER_CLASS K ON(C.CHILDREN_NO = K.CHILDREN_NO)
		WHERE KINDER_NO = #{userNo}
		
	</select>
	
	<select id="childrenMe2" resultMap="KinderYNResultSet">
	
		SELECT H.CHILDREN_NAME, H.CHILDREN_NO
        FROM USERS U
        JOIN CHILDREN_KIND C ON(U.USER_NO = C.KINDER_NO)
        JOIN CHILDREN H ON(C.CHILDREN_NO = H.CHILDREN_NO)
        WHERE C.STATUS LIKE '미승인'
        AND U.USER_NO = #{userNo}
	
	</select>
	
	<select id="childrenMe3" resultMap="KinderYNResultSet">
	
		SELECT K.CLASS_NAME
		FROM USERS U
		JOIN KINDER_CLASSES K ON(U.USER_NO = K.KINDER_NO)	
		WHERE K.KINDER_NO = #{userNo}
		
	</select>
	
	
	<select id="teacherAt" resultMap="memberResultSet">
		SELECT * 
		FROM USERS
		WHERE USER_NO = #{userNo}
	
	</select>
	
	<select id="childrenMeCount" resultType="_int">
	
		SELECT COUNT(*)
        FROM USERS U
        JOIN CHILDREN_KIND C ON(U.USER_NO = C.KINDER_NO)
        JOIN CHILDREN H ON(C.CHILDREN_NO = H.CHILDREN_NO)
        WHERE C.STATUS LIKE '미승인'
        AND U.USER_NO = #{userNo}
		
	
	</select>
	
	<select id="childrenMeCount2" resultType="_int">
	
		 SELECT COUNT(*)
		FROM USERS U
		JOIN CHILDREN C ON(U.USER_NO = C.USER_NO)
        JOIN KINDER_CLASS K ON(C.CHILDREN_NO = K.CHILDREN_NO)
		WHERE KINDER_NO = #{userNo}
	
	</select>
	
	<select id="teachetYn" resultType="_int">
	
		SELECT COUNT(*)
		FROM KINDER_CLASS
		WHERE TEACHER_NO = #{userNo}
	
	</select>
	
	<select id="teacherKing" resultMap="KinGardenClassesResultSet">
		
		SELECT *
		FROM KINDER_CLASS
		WHERE TEACHER_NO = #{userNo}
	
	</select>
	
	<insert id="insertAttachment">
	
		INSERT INTO ATTACHMENT
		VALUES(SEQ_FILE_ID.NEXTVAL , #{origineName} , #{changeName} , #{filePath} , SYSDATE , #{attachType} , #{fileLevel} , null,null,null,null,null,null,null,#{userNo} )
	
	
	</insert>
	
	<select id="selectId" resultMap="memberResultSet">
	
		SELECT USER_ID
		FROM USERS
		WHERE PHONE = #{phone}
		
	
	</select>
	
	<select id="selecteamilId" resultMap="memberResultSet">
		
		SELECT USER_ID
		FROM USERS
		WHERE EMAIL = #{email}
	
	</select>
	
	<select id="findPwdId" resultMap="memberResultSet">
	
		SELECT USER_ID
		FROM USERS
		WHERE USER_ID = #{findId}
	
	
	</select>
	
	<update id="RePwd">
		
		UPDATE USERS SET USER_PWD = #{userPwd}
		WHERE USER_ID = #{userId}
		
	
	</update>
	
	<select id="childrenMember" resultMap="KidMemberResultSet">
		
		SELECT *
		FROM CHILDREN
		WHERE USER_NO = #{userNo}
	
	</select>
	
	<select id="childrenYn" resultType="_int">
	
		SELECT COUNT(*)
		FROM KINDER_CLASS
		WHERE CHILDREN_NO = #{childrenNo} 
	
	</select>
	
	<select id="childrenKing" resultMap="KinGardenClassesResultSet">
		SELECT *
		FROM KINDER_CLASS K
        JOIN CHILDREN C ON(K.CHILDREN_NO = C.CHILDREN_NO)
		WHERE K.CHILDREN_NO = #{childrenNo}
	
	</select>
	
	<select id="childrenAt" resultMap="AttachmentResultSet">
		
		SELECT *
		FROM ATTACHMENT
		WHERE USER_NO = #{userNo}
	
	</select>
	
	<insert id="insetTeacherphoto">
		
		INSERT INTO ATTACHMENT
		VALUES(SEQ_FILE_ID.NEXTVAL , #{origineName} , #{changeName} , #{filePath} , SYSDATE , #{attachType} , #{fileLevel} , null,null,null,null,null,null,null,#{userNo} )
	
	</insert>
	
	<insert id="classonoff">
	
		INSERT INTO ON_OFF
		VALUES( #{kinderNo} ,'Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','Y')
		
	</insert>
	
	<select id="selectOnOff" resultMap="OnOffResultSet">
	
		SELECT *
		FROM ON_OFF
		WHERE KINDER_NO = #{userNo}
	
	</select>
	
	<select id="selectKinderName" resultMap="KinderGardenResultSet">
	
		SELECT *
		FROM KINDERGARDEN
		WHERE KINDER_NO = #{userNo}
	
	</select>
	
	
	<select id="selectUsingDate" parameterType="_int" resultType="string">
	
		SELECT USING_DATE
		FROM KINDERGARDEN_USING
		WHERE KINDER_NO = #{userNo}
	
	</select>
	
	

	
	
</mapper>


















