<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Note">

	<resultMap type="noteKindergarden" id="noteKindergarden">
		<id property="kinderNo" column="KINDER_NO" />
		<result property="kinderName" column="KINDER_NAME" />
		<result property="kinderPhone" column="KINDER_PHONE" />
		<result property="kinderAddress" column="KINDER_ADDRESS" />

		<association property="Users" javaType="Users">
			<id property="userNo" column="USER_NO" />
			<result property="userId" column="USER_ID" />
			<result property="userPwd" column="USER_PWD" />
			<result property="userName" column="USER_NAME" />
			<result property="email" column="EMAIL" />
			<result property="phone" column="PHONE" />
			<result property="enrollDate" column="ENROLL_DATE" />
			<result property="deleteDate" column="DELETE_DATE" />
			<result property="deleteReason" column="DELETE_REASON" />
			<result property="status" column="STATUS" />
			<result property="classification" column="CLASSIFICATION" />
		</association>
	</resultMap>

	<resultMap type="Note" id="Note">
		<id property="noteNo" column="NOTE_NO" />
		<result property="noteTitle" column="NOTE_TITLE" />
		<result property="noteContent" column="NOTE_CONTENT" />
		<result property="noteDate" column="NOTE_DATE" />
		<result property="receiveNo" column="RECEIVE_NO" />
		<result property="sendNo" column="SEND_NO" />
		<result property="status" column="STATUS" />
		<result property="checked" column="CHECKED" />

		<association property="Users" javaType="Users">
			<id property="userNo" column="USER_NO" />
			<result property="userId" column="USER_ID" />
			<result property="userPwd" column="USER_PWD" />
			<result property="userName" column="USER_NAME" />
			<result property="email" column="EMAIL" />
			<result property="phone" column="PHONE" />
			<result property="enrollDate" column="ENROLL_DATE" />
			<result property="deleteDate" column="DELETE_DATE" />
			<result property="deleteReason" column="DELETE_REASON" />
			<result property="status" column="STATUS" />
			<result property="classification" column="CLASSIFICATION" />
		</association>

		<association property="noteKindergarden"
			javaType="noteKindergarden">
			<id property="kinderNo" column="KINDER_NO" />
			<result property="kinderName" column="KINDER_NAME" />
			<result property="kinderPhone" column="KINDER_PHONE" />
			<result property="kinderAddress" column="KINDER_ADDRESS" />
		</association>
	</resultMap>

	<resultMap type="NoteBox" id="NoteBox">
		<id property="noteNo" column="NOTE_NO" />
		<result property="noteTitle" column="NOTE_TITLE" />
		<result property="noteContent" column="NOTE_CONTENT" />
		<result property="noteDate" column="NOTE_DATE" />
		<result property="receiveNo" column="RECEIVE_NO" />
		<result property="sendNo" column="SEND_NO" />
		<result property="status" column="STATUS" />
		<result property="checked" column="CHECKED" />
	</resultMap>

<!-- ****************************************************************************** -->


	<select id="selectKinderArr" parameterType="noteKindergarden"
		resultMap="noteKindergarden">
		SELECT U.USER_NO, U.USER_NAME, K.KINDER_NO, K.KINDER_NAME, K.KINDER_ADDRESS
		FROM USERS U
		JOIN KINDERGARDEN K ON(U.USER_NO = K.KINDER_NO)
	</select>

		<!-- 쪽지보내기 -->
	<insert id="insertNote" parameterType="NoteBox">
		INSERT INTO NOTEBOX
		VALUES(SEQ_NOTE_NO.NEXTVAL, #{noteTitle}, #{noteContent}, SYSDATE, #{receiveNo}, #{sendNo}, DEFAULT, DEFAULT)
	</insert>

<!-- ****************************************************************************** -->

	<!-- 보낸 쪽지함 리스트 카운트 조회용 쿼리문 -->
	<select id="selectListCount" parameterType="Note" resultType="_int">
		SELECT COUNT(*)
		FROM NOTEBOX N
		JOIN USERS U ON(N.SEND_NO = U.USER_NO)
		WHERE U.USER_NO = #{userNo}
		AND N.STATUS = 'N'
	</select>

	<!-- 페이징 처리 후 보낸 쪽지함 리스트 조회용 쿼리문(관리자)-->
	<select id="selectSentNoteList" parameterType="Note" resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.RECEIVE_NO = U.USER_NO)
		JOIN KINDERGARDEN K ON(K.KINDER_NO = U.USER_NO)
		WHERE N.STATUS = 'N'
		AND N.SEND_NO = #{userNo}
		ORDER BY N.NOTE_NO DESC
	</select>

	<!-- 페이징 처리 후 보낸 쪽지함 리스트 조회용 쿼리문(원장님)-->
	<select id="selectTeacherSentNoteList" parameterType="Note" resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.RECEIVE_NO = U.USER_NO)
		WHERE N.STATUS = 'N'
		AND N.SEND_NO = #{userNo}
		ORDER BY N.NOTE_NO DESC
	</select>


	<!-- 보낸 쪽지함 상세보기-->
	<select id="selectSentNoteOne" parameterType="_int" resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.RECEIVE_NO = U.USER_NO)
		WHERE N.NOTE_NO = #{noteNo}
		AND N.STATUS = 'N'
	</select>


	<!-- 보낸 쪽지함 상세보기에서 삭제하기 -->
	<update id="deleteSentNoteOne">
		UPDATE NOTEBOX
		SET STATUS = 'Y'
		WHERE NOTE_NO = #{noteNo}
	</update>


<!-- ****************************************************************************** -->
	<!-- 받은 쪽지함 리스트 카운트 조회용 쿼리문 -->
	<select id="recieveListCount" parameterType="Note" resultType="_int">
		SELECT COUNT(*)
		FROM NOTEBOX N
		JOIN USERS U ON(N.RECEIVE_NO = U.USER_NO)
		WHERE U.USER_NO = #{userNo}
		AND N.STATUS = 'N'
	</select>

	<!-- 받은 쪽지함 리스트 조회용 쿼리문(관리자) -->
	<select id="selectRecieveNoteList" parameterType="Note" resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.SEND_NO = U.USER_NO)
		JOIN KINDERGARDEN K ON(K.KINDER_NO = U.USER_NO)
		WHERE N.STATUS = 'N'
		AND N.RECEIVE_NO = #{userNo}
		ORDER BY N.NOTE_NO DESC
	</select>
	<!-- 받은 쪽지함 리스트 조회용 쿼리문(원장님) -->
	<select id="selectTeacherRecieveNoteList" parameterType="Note" resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.SEND_NO = U.USER_NO)
		WHERE N.STATUS = 'N'
		AND N.RECEIVE_NO = #{userNo}
		ORDER BY N.NOTE_NO DESC
	</select>

	<!-- 받은 쪽지함 상세보기 -->
	<select id="selectRecieveNoteOne" parameterType="_int"
		resultMap="Note">
		SELECT *
		FROM NOTEBOX N
		JOIN USERS U ON(N.SEND_NO = U.USER_NO)
		WHERE N.NOTE_NO = #{noteNo}
		AND N.STATUS = 'N'
	</select>

	<!-- 받은쪽지함 상세내용 조회에서 삭제하기 -->
	<update id="deleteRecieveNoteOne">
		UPDATE NOTEBOX
		SET STATUS = 'Y'
		WHERE NOTE_NO = #{noteNo}
	</update>

	<!-- 쪽지 확인 여부 변경 -->
	<update id="checkedYN">
		UPDATE NOTEBOX
		SET CHECKED = 'Y'
		WHERE NOTE_NO = #{noteNo}
	</update>

</mapper>