<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice">

	<resultMap type="Notice" id="noticeResultSet">
	
		<id property="boardNum" column="BOARD_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardtype" column="BOARD_TYPE" />
		<result property="classNum" column="CLASS_NO" />
		<result property="kinderNum" column="KINDER_NO" />
		<result property="writer" column="WRITER" />
		<result property="className" column="CLASS_NAME" />
	</resultMap>

	<resultMap type="NoticeWho" id="noticeWho">
		<id property="classNum" column="CLASS_NO" />
		<result property="kinderNum" column="KINDER_NO" />
		<result property="className" column="CLASS_NAME" />
	</resultMap>
	
	
	<resultMap type="NoticeWho" id="noticeWhoAreYou">
		<id property="classNum" column="CLASS_NO" />
		<result property="kinderNum" column="KINDER_NO" />
		<result property="teacherNum" column="TEACHER_NO" />
	</resultMap>
	

	

	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARD_NO.NEXTVAL,
		#{boardTitle},#{boardContent},SYSDATE,#{boardtype},
		NULL,NULL,#{kinderNum},'N',#{writer})
	</insert>


	<insert id="insertNotice2" parameterType="Notice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARD_NO.NEXTVAL,
		#{boardTitle},#{boardContent},SYSDATE,#{boardtype},
		#{classNum},NULL,#{kinderNum},'N',#{writer})
	</insert>


	<select id="selectWho" resultMap="noticeWho">
		SELECT
		C.CLASS_NO,C.KINDER_NO,C.CLASS_NAME
		FROM KINDER_CLASS C
		JOIN USERS U ON U.USER_NO = C.TEACHER_NO
		WHERE U.USER_NO = #{userNo}
		AND
		SUBSTR(OPENED_DATE,1,2) = SUBSTR(SYSDATE,1,2)
	</select>
	
	<select id="selectChildrenNum" resultType="_int">
		SELECT CHILDREN_NO
    	FROM CHILDREN C
     	JOIN USERS U ON U.USER_NO = C.USER_NO
      	WHERE U.USER_NO = #{userNo}
	</select>
	
	<select id="selectTeacher" resultMap="noticeWhoAreYou">
	SELECT C.CLASS_NO,C.TEACHER_NO
    FROM KINDER_CLASS C
    WHERE (KINDER_NO,CLASS_NAME,OPENED_DATE) IN
    (SELECT K.KINDER_NO, K.CLASS_NAME,K.OPENED_DATE
    FROM KINDER_CLASS K
    WHERE  K.CHILDREN_NO =(SELECT C.CHILDREN_NO
                FROM CHILDREN C
                JOIN USERS U ON U.USER_NO = C.USER_NO
            	WHERE U.USER_NO = #{userNo}))
    AND C.DIVISION = '선생님'
	</select>
	
	
	
	<select id="selectWhoChildren" resultMap="noticeWho">
		SELECT
		C.CLASS_NO,C.KINDER_NO,C.CLASS_NAME
		FROM KINDER_CLASS C
		JOIN USERS U ON U.USER_NO = C.CHILDREN_NO
		WHERE U.USER_NO = #{selectNum}
		AND
		SUBSTR(OPENED_DATE,1,2) = SUBSTR(SYSDATE,1,2)
      </select>
	
	 <select id="selectWhoMaster" resultMap="noticeWho">
		SELECT
		C.CLASS_NO,C.KINDER_NO,C.CLASS_NAME
		FROM KINDER_CLASS C
		JOIN USERS U ON U.USER_NO = C.CHILDREN_NO
		WHERE U.USER_NO = #{userNo}
		AND
		SUBSTR(OPENED_DATE,1,2) = SUBSTR(SYSDATE,1,2)
      </select>
	

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		WHERE STATUS='N'
		AND KINDER_NO = #{kinderNum}
		AND BOARD_TYPE = '공지사항'
		AND CLASS_NO IS NULL 
		OR CLASS_NO = #{classNum}
	</select>
	
	<select id="selectList" resultMap="noticeResultSet">
		SELECT B.BOARD_NO,B.BOARD_TITLE,B.BOARD_DATE,K.CLASS_NAME,B.BOARD_CONTENT
		FROM BOARD B
		JOIN KINDER_CLASS K ON(K.TEACHER_NO = B.WRITER)
		WHERE B.STATUS='N'
		AND B.KINDER_NO = #{kinderNum}
		AND K.TEACHER_NO = #{userNum}
		AND B.BOARD_TYPE = '공지사항'
		AND B.CLASS_NO IS NULL 
		OR B.CLASS_NO = #{classNum}
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectChildrenList" resultMap="noticeResultSet">
	SELECT B.BOARD_NO,B.BOARD_TITLE,B.BOARD_DATE,K.CLASS_NAME,B.BOARD_CONTENT
		FROM BOARD B
		JOIN KINDER_CLASS K ON(K.TEACHER_NO = B.WRITER)
		WHERE B.STATUS='N'
		AND B.KINDER_NO = #{kinderNum}
		AND K.TEACHER_NO = #{teacherNum}
		AND B.BOARD_TYPE = '공지사항'
		AND B.CLASS_NO IS NULL 
		OR B.CLASS_NO = #{classNum}
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectNoticeOne" resultMap="noticeResultSet">
		SELECT *
		FROM BOARD B
		JOIN KINDER_CLASS K ON (B.WRITER = K.TEACHER_NO)
		LEFT JOIN BOARD_COMMENT C ON (B.BOARD_NO = C.BOARD_NO)
		WHERE B.BOARD_NO = #{bid}
		AND B.STATUS = 'N'
		ORDER BY COMMENT_NO DESC
	</select>
	
	<update id="updateNoticeStatus" parameterType="_int">
	UPDATE BOARD
	SET STATUS = 'Y'
	WHERE BOARD_NO=#{bid}
	</update>

</mapper>
















