<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Pay">
	<resultMap type="PayPA" id="payResultSet">
		<id property="PayNo" column="PAY_NO"/>
		<result property="seasonId" column="SEASON_ID"/>
		<result property="userNo" column="USER_NO"/>
		<result property="payMoney" column="PAY_MONEY"/>
		<result property="payOnNo" column="PAY_ON_NO"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payType" column="PAY_TYPE"/>
	</resultMap>
	
	<resultMap type="KindergardenPA" id="kindergardenResultSet">
		<id property="kinderNo" column="KINDER_NO"/>
		<result property="kinderName" column="KINDER_NAME"/>
		<result property="kinderPhone" column="KINDER_PHONE"/>
		<result property="kinderAddress" column="KINDER_ADDRESS"/>
		<result property="usingDate" column="USING_DATE"/>
		
	</resultMap>
	
	
	<select id="selectGardenInfo" parameterType="_int" resultMap="kindergardenResultSet">
		SELECT *
		FROM KINDERGARDEN
		WHERE KINDER_NO = #{kinderNo}
	</select>
	
	<insert id="paymentSuccess" parameterType="PayPA">
		INSERT INTO PAY
		VALUES(SEQ_PAY_NO.NEXTVAL, #{seasonId}, #{userNo}, #{payMoney})
	</insert>
	
	<insert id="insertPayOn" parameterType="PayPA">
		INSERT INTO PAY_ON
		VALUES(SEQ_PAY_ON_NO.NEXTVAL, SEQ_PAY_NO.CURRVAL, TO_CHAR(SYSDATE, 'YYYYMMDD'), '결제완료')
	</insert>
	
	<select id="selectGardenUsing" parameterType="PayPA" resultMap="kindergardenResultSet">
		SELECT KINDER_NO, USING_DATE
		FROM KINDERGARDEN_USING
		WHERE KINDER_NO = #{userNo}
	</select>
	
	<insert id="insertGardenUsing" parameterType="PayPA">
		INSERT INTO KINDERGARDEN_USING
		VALUES(#{userNo}, TO_CHAR(SYSDATE, 'YYYYMMDD'))
	</insert>
	
	<update id="updateGardenUsing" parameterType="PayPA">
		UPDATE KINDERGARDEN_USING
		SET USING_DATE = TO_CHAR(#{payDate}, 'YYYYMMDD')
		WHERE KINDER_NO = #{userNo}
	</update>
	
	
	
</mapper>

	