<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReturnHome">
	<resultMap type="ReturnHomeRH" id="returnHomeResultSet">
		<id property="homeNo" column="HOME_NO"/>
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="homeDate" column="HOME_DATE"/>
		<result property="homeTime" column="HOME_TIME"/>
		<result property="homeWay" column="HOME_WAY"/>
		<result property="parentsName" column="PARENTS_NAME"/>
		<result property="parentsPhone" column="PARENTS_PHONE"/>
		<result property="emergencyName" column="EMERGENCY_NAME"/>
		<result property="emergencyPhone" column="EMERGENCY_PHONE"/>
		<result property="reading" column="READING"/>
		<result property="reDate" column="RE_DATE"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="dataURL" column="FILE_PATH"/>
	</resultMap>
	
	<resultMap type="ChildrenRH" id="childrenResultSet">
		<id property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	
	<resultMap type="ChildrenClassRH" id="childrenClassResultSet">
		<id property="classNo" column="CLASS_NO"/>
		<result property="kinderNo" column="KINDER_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="openedDate" column="OPENED_DATE"/>
		<result property="semester" column="SEMESTER"/>
		<result property="division" column="DIVISION"/>
		<result property="teacherNo" column="TEACHER_NO"/>
		<result property="childrenNo" column="CHILDREN_NO"/>
		<result property="childrenName" column="CHILDREN_NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	
	
	<select id="selectChildrenName" parameterType="KinderClassRH" resultMap="childrenResultSet">
		SELECT CHILDREN_NO, CHILDREN_NAME, BIRTH, GENDER, USER_NO
		FROM CHILDREN
		WHERE CHILDREN_NO IN (SELECT CHILDREN_NO
							FROM KINDER_CLASS K1
							WHERE (K1.KINDER_NO, K1.CLASS_NAME, K1.OPENED_DATE) IN (SELECT K2.KINDER_NO, K2.CLASS_NAME, K2.OPENED_DATE
																					FROM KINDER_CLASS K2
																					WHERE K2.TEACHER_NO = #{teacherNo})
							AND DIVISION = '원생')
		<if test='childrenNo!=0'>
		AND CHILDREN_NO = #{childrenNo}
		</if>
	</select>
	
	<select id="searchChildrenName" parameterType="KinderClassRH" resultMap="childrenResultSet">
		SELECT CHILDREN_NO, CHILDREN_NAME, BIRTH, GENDER, USER_NO
		FROM CHILDREN
		WHERE CHILDREN_NO IN (SELECT CHILDREN_NO
							FROM KINDER_CLASS K1
							WHERE (K1.KINDER_NO, K1.CLASS_NAME, K1.OPENED_DATE) IN (SELECT K2.KINDER_NO, K2.CLASS_NAME, K2.OPENED_DATE
																					FROM KINDER_CLASS K2
																					WHERE K2.TEACHER_NO = #{teacherNo})
							AND DIVISION = '원생')
	
	</select>
	
	<select id="parentsCountList" parameterType="ChildrenClassRH" resultType="_int">
		SELECT COUNT(*)
		FROM RETURN_HOME RH
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN (SELECT *
		      FROM CHILDREN
		      WHERE USER_NO = #{userNo}) CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
	</select>
	
	<select id="selectParentChildrens" parameterType="ChildrenClassRH" resultMap="childrenClassResultSet">
		SELECT CLASS_NO, KINDER_NO, CLASS_NAME, OPENED_DATE, SEMESTER, DIVISION, KC.CHILDREN_NO, CHILDREN_NAME, BIRTH, GENDER, USER_NO
		FROM KINDER_CLASS KC
		JOIN CHILDREN C ON (KC.CHILDREN_NO = C.CHILDREN_NO)
		WHERE KC.CHILDREN_NO IN (SELECT CH.CHILDREN_NO
		                         FROM CHILDREN CH
		                         WHERE USER_NO = #{userNo})
	</select>
	
	<insert id="insertReturnHome1" parameterType="ReturnHomeRH">
		INSERT INTO RETURN_HOME
		VALUES(SEQ_HOME_NO.NEXTVAL, #{childrenNo}, #{homeDate}, #{homeTime}, #{homeWay}, #{parentsName}, #{parentsPhone}, #{emergencyName}, #{emergencyPhone}, DEFAULT, NULL, #{writeDate})
		
	</insert>
	
	<insert id="insertReturnHome2" parameterType="ReturnHomeRH">
		INSERT INTO ATTACHMENT 
		VALUES(SEQ_FILE_ID.NEXTVAL, 'sign', 'sign', #{dataURL}, SYSDATE, '귀가동의', NULL, NULL, NULL, NULL, NULL, NULL, SEQ_HOME_NO.CURRVAL, NULL, NULL)
	</insert>
	
	<select id="countListAll" parameterType="KinderClassRH" resultType="_int">
		SELECT COUNT(*)
		FROM RETURN_HOME RH
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		WHERE RH.CHILDREN_NO IN (SELECT CHILDREN_NO
								FROM KINDER_CLASS K1
								WHERE (K1.KINDER_NO, K1.CLASS_NAME, K1.OPENED_DATE) IN (SELECT K2.KINDER_NO, K2.CLASS_NAME, K2.OPENED_DATE
																						FROM KINDER_CLASS K2
																						WHERE K2.TEACHER_NO = #{teacherNo})
								AND DIVISION = '원생')
		<if test='childrenNo!=0'>
		AND RH.CHILDREN_NO = #{childrenNo}
		</if>			
	</select>
	
	<select id="selctReturnHomeList" parameterType="KinderClassRH" resultMap="returnHomeResultSet">
		SELECT RH.HOME_NO, RH.CHILDREN_NO, RH.HOME_DATE, RH.HOME_TIME, RH.HOME_WAY, RH.PARENTS_NAME, RH.PARENTS_PHONE,
       		   RH.EMERGENCY_NAME, RH.EMERGENCY_PHONE, RH.READING, RH.RE_DATE, RH.WRITE_DATE, CH.CHILDREN_NAME, AT.FILE_PATH
		FROM RETURN_HOME RH
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		WHERE RH.CHILDREN_NO IN (SELECT CHILDREN_NO
								FROM KINDER_CLASS K1
								WHERE (K1.KINDER_NO, K1.CLASS_NAME, K1.OPENED_DATE) IN (SELECT K2.KINDER_NO, K2.CLASS_NAME, K2.OPENED_DATE
																						FROM KINDER_CLASS K2
																						WHERE K2.TEACHER_NO = #{teacherNo})
								AND DIVISION = '원생')
		<if test='childrenNo!=0'>
		AND RH.CHILDREN_NO = #{childrenNo}
		</if>					
		ORDER BY HOME_NO DESC
	</select>
	
	<select id="selectParentsReturnHomeList" parameterType="ChildrenClassRH" resultMap="returnHomeResultSet">
		SELECT RH.HOME_NO, RH.CHILDREN_NO, RH.HOME_DATE, RH.HOME_TIME, RH.HOME_WAY, RH.PARENTS_NAME, RH.PARENTS_PHONE,
               RH.EMERGENCY_NAME, RH.EMERGENCY_PHONE, RH.READING, RH.RE_DATE, RH.WRITE_DATE, CH.CHILDREN_NAME, AT.FILE_PATH
		FROM RETURN_HOME RH
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		JOIN (SELECT *
		      FROM CHILDREN CHILD
		      WHERE USER_NO = #{userNo}) CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		ORDER BY HOME_NO DESC	
	</select>
	
	<select id="selectReturnHomeDetail" parameterType="_int" resultMap="returnHomeResultSet">
		SELECT RH.HOME_NO, RH.CHILDREN_NO, RH.HOME_DATE, RH.HOME_TIME, RH.HOME_WAY, RH.PARENTS_NAME, RH.PARENTS_PHONE,
               RH.EMERGENCY_NAME, RH.EMERGENCY_PHONE, RH.READING, RH.RE_DATE, RH.WRITE_DATE, CH.CHILDREN_NAME, AT.FILE_PATH
		FROM RETURN_HOME RH
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		WHERE RH.HOME_NO = #{homeNo}
	</select>
	
	<select id="selectKinderChildrenName" parameterType="KinderClassRH" resultMap="childrenResultSet">
		SELECT KC.CHILDREN_NO, CH.CHILDREN_NAME, CH.BIRTH, CH.GENDER, CH.USER_NO
		FROM KINDER_CLASS KC
		JOIN CHILDREN CH ON (KC.CHILDREN_NO = CH.CHILDREN_NO)
		WHERE KINDER_NO = #{kinderNo}
		AND KC.CHILDREN_NO IS NOT NULL
		<if test='childrenNo!=0'>
		AND KC.CHILDREN_NO = #{childrenNo}
		</if>
	</select>
	
	<select id="searchKinderChildrenName" parameterType="KinderClassRH" resultMap="childrenResultSet">
		SELECT KC.CHILDREN_NO, CH.CHILDREN_NAME, CH.BIRTH, CH.GENDER, CH.USER_NO
		FROM KINDER_CLASS KC
		JOIN CHILDREN CH ON (KC.CHILDREN_NO = CH.CHILDREN_NO)
		WHERE KINDER_NO = #{kinderNo}
		AND KC.CHILDREN_NO IS NOT NULL
	</select>
	
	<select id="countList" parameterType="KinderClassRH" resultType="_int">
		SELECT COUNT(*)
		FROM RETURN_HOME RH
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN KINDER_CLASS KC1 ON (KC1.CHILDREN_NO = RH.CHILDREN_NO)
		WHERE RH.CHILDREN_NO IN (SELECT CHILDREN_NO
		                        FROM KINDER_CLASS 
		                        WHERE KINDER_NO = #{kinderNo}
		                        AND CHILDREN_NO IS NOT NULL)
		AND KINDER_NO = #{kinderNo}	
		<if test='childrenNo!=0'>
		AND KC.CHILDREN_NO = #{childrenNo}
		</if>
	</select>
	
	
	<select id="selectMasterReturnHome" parameterType="KinderClassRH" resultMap="returnHomeResultSet">
		SELECT RH.HOME_NO, RH.CHILDREN_NO, RH.HOME_DATE, RH.HOME_TIME, RH.HOME_WAY, RH.PARENTS_NAME, RH.PARENTS_PHONE,
               RH.EMERGENCY_NAME, RH.EMERGENCY_PHONE, RH.READING, RH.RE_DATE, RH.WRITE_DATE, CH.CHILDREN_NAME, AT.FILE_PATH
		FROM RETURN_HOME RH
		JOIN CHILDREN CH ON (CH.CHILDREN_NO = RH.CHILDREN_NO)
		JOIN ATTACHMENT AT ON (RH.HOME_NO = AT.HOME_NO)
		JOIN KINDER_CLASS KC1 ON (KC1.CHILDREN_NO = RH.CHILDREN_NO)
		WHERE RH.CHILDREN_NO IN (SELECT CHILDREN_NO
		                        FROM KINDER_CLASS 
		                        WHERE KINDER_NO = #{kinderNo}
		                        AND CHILDREN_NO IS NOT NULL)
		AND KINDER_NO = #{kinderNo}	
		<if test='childrenNo!=0'>
		AND RH.CHILDREN_NO = #{childrenNo}
		</if>
		ORDER BY HOME_NO DESC
	</select>
	
	<update id="updateReading" parameterType="_int">
		UPDATE RETURN_HOME SET READING = 'Y', RE_DATE = SYSDATE WHERE HOME_NO = #{homeNo}
	</update>
</mapper>

