<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="com.kh.fp.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.fp.member.model.vo.KidMember" alias="KidMember"/>
		<typeAlias type="com.kh.fp.member.model.vo.KinderGarden" alias="KinderGarden"/>
		<typeAlias type="com.kh.fp.member.model.vo.KinGardenClasses" alias="KinGardenClasses"/>
		<typeAlias type="com.kh.fp.member.model.vo.KinclassSelect" alias="KinclassSelect"/>
		<typeAlias type="com.kh.fp.kinderland.model.vo.Kinderland" alias="Kinderland"/>
		<typeAlias type="com.kh.fp.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.fp.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.kh.fp.attendance.model.vo.Children" alias="Children"/>

	</typeAliases>
	

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/kinderland-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/attendance-mapper.xml"/>
	</mappers>
	
</configuration>
