@charset "UTF-8";
.main-panel {
	position: relative;
	width: calc(100% - 240px);
	height: 100vh;
	min-height: 100%;
	float: right;
	transition: all .3s;
}

#mainArea {
	height: 510px;
	background: white;
}

#text1, #text2 {
	font-size: 15px;
}

#nameArea {
	width: 69%;
	display: inline;
}

#inputArea {
	margin-left: 3%;
}

#selectBtn {
	background: #ff7575 !important;
	font-weight: bold !important;
	color: white !important;
	border: none;
}

#textArea {
	width: 67%;
	resize: none;
	margin-left: 15.3%;
}

.btns {
	width: 200px;
	height: 50px;
	color: white;
}

#btn1 {
	background: #8f8f8f;
	font-weight: bold;
	border: 0.5px solid #7d7d7d;
}

#btn2 {
	background: #ff7575;
	font-weight: bold;
}

#titleArea {
	margin-left: 7.5%;
	margin-bottom: 10px;
}

#title {
	width: 73%;
	display: inline;
}
#mTable {
	text-align:center;
}
