.main-panel {
    position: relative;
    width: calc(100% - 240px);
    height: 100vh;
    min-height: 100%;
    float: right;
    transition: all .3s;
}
#sel1 {
	width:15%;
	height:40px;
	display:inline;
}
#sel2 {
	width:15%;
	height:40px;
	display:inline;
}
#datepicker {
	float:right;
	width:13%;
	margin-right:10px;
	height:40px;
	font-size:15px;
	background: #555;
	color:white;
}
.card {
	width:280px;
	height:330px;
	background:#fcfcea !important;
	float: left;
	margin-left:25px;
}
.card:hover {
	background:#fafafa !important;
	cursor:pointer;
}
#profileImg {
	width:60px;
	height:60px;
	border-radius:50%;
}
#profileArea {
	 float:right;
	 margin-left:50%;
	 font-size:25px;
	 width:50%;
}
#contentArea {
	margin-left:8%;
	line-height:230%;
	font-size:20px;
	padding-top:6px;
}
#className {
	margin-left:8%;
	color:#a1a1a1;
}
#btn2 {
	border: 0.5px solid #e4e1dd;
	margin-left:50px;
}
#writeBtn {
	margin-right:10px;
	width:13%;
	height:40px;
	margin-left: auto;
	color:white;
	background:#ff7575;
	font-weight:bold;
	font-size:15px;
}
#dateA {
	display:inline;
}
.dateT {
	font-size:20px;
}

#empty {
	margin-left:33%;
}
.card.read{
	background:white !important;
}