.m-signature-pad {
  font-size: 10px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border:1px solid #bababa;
}
.m-signature-pad--body canvas {
    width: 200px;
    height: 200px;
 }

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }

}

.m-signature-pad--footer {
	float:right;
	margin-right:4%;
}



.main-panel {
	position: relative;
	width: calc(100% - 240px);
	height: 100vh;
	min-height: 100%;
	float: right;
	transition: all .3s;
}

#profileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#contentsArea {
	height: 1000px;
	background: white;
}

#table1 {
	font-size: 14px;
	width: 96%;
}

#btn1, #btn2 {
	width: 100%;
	border-radius: 0px;
	border: 0.5px solid #c7c7c7;
}

#profileArea, #area1, #area2, #area4 {
	margin-left: 20px;
}

#addBtn {
	float: right;
	margin-right: 4%;
}

#table2 {
	width: 96%;
	height: 350px;
	border: 0.5px solid #d4d4d4;
	margin-top: 20px;
}

#table2 th {
	padding-left: 20px;
	width: 20%;
}

#table2 td {
	width: 30%;
}

#input1, #input2, #input3, #input4 {
	width: 98%;
}

#sel1 {
	width: 30%
}

input[type=radio] {
	display: none;
	margin: 10px;
}

input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	border: 0.5px solid #ebebeb;
}

input[type=radio]:checked+label {
	background-image: none;
	background-color: #ff9191;
	color: white;
}

#area3 {
	margin-left: 220px;
	display: inline;
}

#signArea {
	width: 200px;
	height: 200px;
	float: right;
	display: inline;
	margin-right: 4%;
}

#area4 {
	margin-left: 350px;
}

.btns {
	width: 200px;
	height: 50px;
	color: white;
}

#sendBtn {
	background: #ff737a;
	font-weight: bold;
	font-size: 14px;
}

#resetBtn {
	background: #919191;
	font-weight: bold;
	font-size: 14px;
}
#check {
	height:210px;
}
